.banner {
    width: 100%;
    height: 400px;
}

.bannerColour1 {
    background: linear-gradient(to bottom right, #C21500, #FFC500);
}

.bannerColour2 {
    background: linear-gradient(to bottom right, #FC00FF, #00DBDE);
}

.bannerColour3 {
    background: linear-gradient(to bottom right, #DCE35B, #45B649);
}
