.Icon {
    position: relative;
    margin: 0.25rem;
    height: 2.5rem;
    width: 2.5rem;
}

.Icon-background {
    background-color: #272727;
    border-radius: 0.2rem;
}

.Icon-letter {
    position: absolute;
    font-family: courier;
    color: #FFF;
    font-size: 1rem;
    bottom: 0.1rem;
    right: 0.1rem;
}

.Icon-logo {
    filter: grayscale(100%);
    opacity: 0.5;

    &:hover {
        opacity: 0.8;
    }
}
