.Bar {
    width: 100%;
    height: $bottom-bar-height;

    @include wide {
        width: 100vw;
    }
}

.Bar-bottom {
    position: absolute;
    bottom: 0;

    @include wide {
        position: absolute;
    }
}

.Bar-down {
    @include flexAndCenter;
}
