.Intro {
    position: relative;
    width: 300px;
    margin: 0 auto;

    @include wide {
        @include flexAndCenter;
        height: 100%;
        width: 750px;
    }
}

.Intro-inner {
    position: relative;
    display: block;

    @include wide {
        @include flexAndCenter;
    }
}

.Intro-aux {
    @include flexAndCenter;

    @include small {
        margin: 1rem auto 0;
        width: 120px;
        display: block;
    }

    @include wide {
        position: absolute;
        top: 30px;
        right: 0;
    }
}

.Intro-text {
    display: inline-block;
    text-align: justify;

    @include wide {
        margin-bottom: 0;
        text-align: left;
        width: 30rem;
    }
}

.Intro-img {
    margin: 0.5rem auto;
    display: block;
    width: $img-width;

    @include wide {
        float: left;
        display: inline-block;
        margin: 0 1.5rem 0 0;
    }
}
