.Portfolio {
    position: relative;
    width: 300px;
    margin: auto;

    @include small {
        min-height: 568px;
    }

    @include wide {
        display: flex;
        justify-content: center;
        width: 750px;
    }
}

.Portfolio-heading {
    @include wide {
        margin: 10rem 5rem 0 0;
    }
}

.Portfolio-grid {
    @include wide {
        width: 400px;
    }
}

.Portfolio-cell {
    border-bottom: 1px solid #D0CECE;
    padding: 1rem;

    & a {
        font-weight: bold;
    }
}

.Portfolio-img {
    margin: 0 -1rem 1rem;
    width: 300px;
    height: 200px;

    @include wide {
        width: 360px;
        height: 240px;
    }
}

.Portfolio-cell-date {
    color: #8A8A8A;
}

.Portfolio-cell-description {
    font-size: 1.1rem;
    margin-top: 0.8rem;
}

.Portfolio-cell-tech-heading {
    margin-top: 0.8rem;
}

.Portfolio-cell-tech-body {
    font-size: 0.9rem;
    font-style: italic;
}
