.Portfolio {
    position: relative;
    width: 300px;
    margin: auto;

    @include small {
        min-height: 568px;
    }

    @include wide {
        display: flex;
        justify-content: center;
        width: 750px;
    }
}

.Portfolio-heading {
    @include wide {
        margin: 2rem 5rem 0 0;
    }

    @include keyline;
}

.Portfolio-grid {
    @include wide {
        width: 400px;
    }
}

.Portfolio-cell {
    padding-bottom: 1rem;

    @include keyline;

    &:last-child {
        border: none;
    }

    @include wide {
        padding: 1rem;
    }

    & a {
        font-weight: bold;
    }
}

.Portfolio-img {
    margin: 1rem 0;
    width: 300px;
    height: 200px;

    @include wide {
        width: 360px;
        height: 240px;
    }
}

.Portfolio-cell-date {
    color: $light-text-colour;
}

.Portfolio-cell-description {
    font-size: 1.1rem;
    margin-top: 0.8rem;
}

.Portfolio-cell-tech-heading {
    margin-top: 0.8rem;
}

.Portfolio-cell-tech-body {
    font-size: 0.9rem;
    font-style: italic;
}
