<div id="background-0" class="Background Background-colour--0"></div>
<div id="background-1" class="Background Background-colour--1 Background--off"></div>
<div id="background-2" class="Background Background-colour--2 Background--off"></div>


<div class="Bar Bar-top">
    <div class="Icon Icon-background">
        <h1 class="Icon-letter">j</h1>
    </div>
</div>
<div class="Island">
    <div class="Island-inner">
        <img class="Island-img Img--round" src="img/me.jpg"></img>
        <p class="Island-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus a turpis bibendum, elementum libero vitae, consectetur elit. Donec pharetra tortor non quam bibendum, ac venenatis lorem aliquet. Integer laoreet lobortis lobortis. Morbi rutrum aliquet ex ac egestas. Fusce eget augue tristique neque placerat pretium non et orci. Quisque sollicitudin convallis ante ut sollicitudin.
        </p>
    </div>
</div>
<div class="Bar Bar-bottom">
    <a href="https://github.com/jackharvey1">
        <img class="Icon Icon-logo" src="img/github.png"></img>
    </a>
    <a href="https://www.linkedin.com/in/jack-harvey-a54563111/">
        <img class="Icon Icon-logo" src="img/linkedin.png"></img>
    </a>
</div>
