<div class="Background">
    <div class="Intro">
        <div class="Intro-inner">
            <div class="Intro-aux">
                <a href="https://github.com/jackharvey1">
                    <i class="fa fa-2x fa-github hspace-sm"></i>
                </a>
                <a href="https://www.linkedin.com/in/jack-harvey-a54563111/">
                    <i class="fa fa-2x fa-linkedin hspace-sm"></i>
                </a>
                <a href="http://stackoverflow.com/users/2296182/jack?tab=profile">
                    <i class="fa fa-2x fa-stack-overflow hspace-sm"></i>
                </a>
            </div>
            <img class="Intro-img Img--round" src="img/me.jpg"></img>
            <div class="Intro-text">
                <h1 class="Intro-text--heading">
                    Jack Harvey
                </h1>
                <h2 class="Intro-text--heading">
                    Developer
                </h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus a turpis bibendum, elementum libero vitae, consectetur elit. Donec pharetra tortor non quam bibendum, ac venenatis lorem aliquet. Integer laoreet lobortis lobortis. Morbi rutrum aliquet ex ac egestas. Fusce eget augue tristique neque placerat pretium non et orci. Quisque sollicitudin convallis ante ut sollicitudin.
                </p>
            </div>
        </div>
    </div>
</div>
