<div class="Portfolio">
    <h1 class="Portfolio-heading">
        Projects
    </h1>
    <div class="Portfolio-grid">
        <div class="Portfolio-cell">
            <a href="//github.com/jackharvey1/website">
                <img src="https://placehold.it/300x200" class="Portfolio-img" />
            </a>
            <h2 class="Portfolio-cell-heading">
                <a href="//github.com/jackharvey1/website">
                    Personal website
                    <i class="fa fa-md fa-external-link"></i>
                </a>
            </h2>
            <h5 class="Portfolio-cell-date">
                Completed: March 2017
            </h5>
            <p class="Portfolio-cell-description">
                This website!
            </p>
            <p class="Portfolio-cell-tech-heading">
                What I learnt
            </p>
            <p class="Portfolio-cell-tech-body">
                Gulp with SCSS, autoprefixer; Handlebars.js
            </p>
        </div>
        <div class="Portfolio-cell">
            <a href="//github.com/jackharvey1/tfl">
                <img src="img/tfl.png" class="Portfolio-img" />
            </a>
            <h2 class="Portfolio-cell-heading">
                <a href="//github.com/jackharvey1/tfl">
                    TfL Tube Map
                    <i class="fa fa-md fa-external-link"></i>
                </a>
            </h2>
            <h5 class="Portfolio-cell-date">
                Completed: February 2017
            </h5>
            <p class="Portfolio-cell-description">
                Uses the <a href="//api.tfl.gov.uk">TfL API</a> to retrieve data about lines, stations and arrivals, and display it on a responsive map.
            </p>
            <p class="Portfolio-cell-tech-heading">
                What I learnt
            </p>
            <p class="Portfolio-cell-tech-body">
                Gulp with Uglify, Browserify; Leaflet.js, Asynchronosity with Promises, MongoDB, Express, socket.io, Bluebirdjs, Mocha testing framework with chai and sinon
            </p>
        </div>
        <div class="Portfolio-cell">
            <img src="https://placehold.it/300x200" class="Portfolio-img" />
            <h2 class="Portfolio-cell-heading">
                Rubik's Cube
            </h2>
            <h5 class="Portfolio-cell-date">
                Completed: June 2016
            </h5>
            <p class="Portfolio-cell-description">
                A simple Rubik's cube game
            </p>
            <p class="Portfolio-cell-tech-heading">
                What I learnt
            </p>
            <p class="Portfolio-cell-tech-body">
                C# and Unity
            </p>
        </div>
    </div>
</div>
