<div class="Dunno">
    <div class="Dunno-inner">
        <h1 class="Dunno-heading">Education</h1>
        <div class="Dunno-content">
            <h2 class="Dunno-place">University of Sheffield</h2>
            <h5 class="Dunno-date">Sep 2012 - June 2016</h5>
            <p class="Dunno-description">Master's degree in Computer Science blah blah</p>
        </div>
    </div>
    <div class="Dunno-inner">
        <h1 class="Dunno-heading">Experience</h1>
        <div class="Dunno-content">
            <h2 class="Dunno-place">NewsUK</h2>
            <h5 class="Dunno-date">Aug 2016 - Present</h5>
            <p class="Dunno-description">Working as a Web Developer for The Times, blah blah</p>
        </div>
    </div>
</div>
